# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

# End of https://www.toptal.com/developers/gitignore/api/macos

*.h5
*.png
*.db
*.csv
Boostcourse/3week_course/3_polynomial_regression .ipynb
Boostcourse/news_data/1_Korean First Baseman Dae-Ho Lee Becomes Free Agent, Interested In MLB Deal.txt
Boostcourse/news_data/1_Dae-Ho Lee walk-off homer gives Mariners 4-2 win over Rangers.txt
Boostcourse/news_data/1_Lee Dae-ho Announces MLB Aspirations.txt
Boostcourse/news_data/1_Lee Dae-ho to Start Spring Training in Arizona.txt
Boostcourse/news_data/1_Lee Dae-ho wins MVP in Japan Series.txt
Boostcourse/news_data/1_Mariners' Lee Dae-ho belts a walk-off homer.txt
Boostcourse/news_data/1_Mariners’ Lee Dae-ho gets 1st two-hit game, double.txt
Boostcourse/news_data/1_MLB Team Interested In Dae-Ho Lee.txt
Boostcourse/news_data/1_Seattle Mariners' Newest Signing Dae-Ho Lee Could Become Fan Favorite.txt
Boostcourse/news_data/1_SoftBank Hawks Hope to Renew Contract with Lee Dae-ho.txt
Boostcourse/news_data/2_Dodgers left with questions after latest Hyun-Jin Ryu setback.txt
Boostcourse/news_data/2_Dodgers left-hander Hyun-Jin Ryu expects to be ready for start of season.txt
Boostcourse/news_data/2_Dodgers unsure when Hyun-Jin Ryu will throw another bullpen session.txt
Boostcourse/news_data/2_Dodgers will take it slowly with pitcher Hyun-Jin Ryu, whose health could be a key to their season.txt
Boostcourse/news_data/2_Hyun-Jin Ryu downplays long break between bullpen sessions.txt
Boostcourse/news_data/2_Hyun-Jin Ryu's timetable starting to become clear.txt
Boostcourse/news_data/2_Los Angeles Dodgers’ Hyun-Jin Ryu Experiencing Shoulder Discomfort.txt
Boostcourse/news_data/2_Ryu Hyun-jin appears before fans after 3-month hiatus for rehabilitation.txt
Boostcourse/news_data/2_Ryu Hyun-jin Rejoins Dodgers After Surgery.txt
Boostcourse/news_data/2_Ryu Hyun-jin suffers injury in groin, further delays return.txt
Boostcourse/news_data/3_Cleveland Indians interested in South Korean reliever Seung-hwan Oh.txt
Boostcourse/news_data/3_Free agent closer Seung-hwan Oh under investigation for gambling.txt
Boostcourse/news_data/3_Korean reliever Seung-hwan Oh has the best nickname for a closer.txt
Boostcourse/news_data/3_Lim Chang-yong, Oh Seung-hwan to be suspended from 50% of games even if they return.txt
Boostcourse/news_data/3_Oh Seung-hwan Could Lose Contract Over Gambling Scandal.txt
Boostcourse/news_data/3_Seung Hwan Oh Arrives Early To Cardinals Spring Training Camp.txt
Boostcourse/news_data/3_Seung-hwan Oh off to a great start.txt
Boostcourse/news_data/3_SEUNG-HWAN OH SHUTS DOWN TWINS IN FIRST SPRING ACTION.txt
Boostcourse/news_data/3_SEUNG-HWAN OH STRIKES OUT THE SIDE.txt
Boostcourse/news_data/3_SEUNG-HWAN OH TOSSES CLEAN INNING VERSUS BOSTON.txt
Boostcourse/news_data/4_Byung Ho Park went 1-for-4 with a solo homer in Saturday's 4-1 loss to the Tigers..txt
Boostcourse/news_data/4_BYUNG-HO PARK SETTLING IN TO AMERICAN GAME.txt
Boostcourse/news_data/4_Byung-ho Park's homers are the best thing about the Twins so far.txt
Boostcourse/news_data/4_Byung-Ho Park Won't Fix The Minnesota Twins.txt
Boostcourse/news_data/4_Minnesota’s Park Byung-ho hits 7th homer of the season.txt
Boostcourse/news_data/4_Park Byung-ho hits large homer on ‘Park Byung-ho Day’.txt
Boostcourse/news_data/4_Park remains on bench as Twins face Gonzalez and the Nats.txt
Boostcourse/news_data/4_Twins' Park Byung-ho hits first big league triple.txt
Boostcourse/news_data/4_Twins' slugger Byung Ho Park adapts to high heat.txt
Boostcourse/news_data/4_Twins’ Byung Ho Park Still Getting Accustomed To American Life.txt
Boostcourse/news_data/5_ S. Korea look well-positioned to qualify for 2018 World Cup.txt
Boostcourse/news_data/5_Augsburg midfielder Koo Ja-cheol scores 3 hat tricks at home game.txt
Boostcourse/news_data/5_Augsburg vs Stuttgart Bundesliga Match Preview and Kick-Off Time.txt
Boostcourse/news_data/5_Follow the action live as Augsburg welcome the visit of Stuttgart on Saturday.txt
Boostcourse/news_data/5_Injured midfielder likely to miss nat'l team friendlies.txt
Boostcourse/news_data/5_Koo Ja-cheol Nets a Hat Trick for Augsburg.txt
Boostcourse/news_data/5_Korean Footballers in Europe Struggle for Match Time.txt
Boostcourse/news_data/5_S. Korean MF Koo Ja-cheol suspended for next World Cup qualifier.txt
Boostcourse/news_data/5_South Korean Footballer Koo Ja Cheol Returns To Augsburg, Says He Has the ‘Feeling of Coming Home’.txt
Boostcourse/news_data/5_Stielike warns it won't be easy for Euro-stars.txt
Boostcourse/news_data/6_AFC 2018 World Cup Qualifying South Korea vs Lebanon, Preview, Prediction & Predicted Lineup.txt
Boostcourse/news_data/6_Borussia Dortmund sign Korea defender Park Joo-ho from Mainz.txt
Boostcourse/news_data/6_Borussia Dortmund vs. Wolfsburg Team News, Preview, Live Stream, TV Info.txt
Boostcourse/news_data/6_BVB has initially without full-back Joo-Ho Park.txt
Boostcourse/news_data/6_International South Korean Joo Ho Park, is committed to Borussia Dortmund on Saturday..txt
Boostcourse/news_data/6_Joo-Ho Park poor for Borussia Dortmund in loss at Cologne.txt
Boostcourse/news_data/6_Mkhitaryan, Hummels perfect 10s in Dortmund's win at Gladbach.txt
Boostcourse/news_data/6_Park Joo-ho delivers top performance in Dortmund's late Europa victory.txt
Boostcourse/news_data/6_Son Heung-min, Park Joo-ho Set to Start for New Clubs.txt
Boostcourse/news_data/6_Thomas Tuchel mulls Park Joo-ho dilemma on Borussia Dortmund`s record run.txt
Boostcourse/news_data/7_Ki Sung-Yueng back in Swansea City fold as Garry Monk targets victory over benchmark club Everton.txt
Boostcourse/news_data/7_Ki Sung-yueng Scores 2nd Goal for Swansea in 4 Months.txt
Boostcourse/news_data/7_Ki Sung-yueng Stretchered Off Pitch with Head Injury.txt
Boostcourse/news_data/7_Premier League 2015-2016 Swansea City vs Manchester City, Preview, Prediction & Predicted Lineup.txt
Boostcourse/news_data/7_Sung-yueng In Team Of The Week.txt
Boostcourse/news_data/7_Swansea City midfielder Ki Sung-Yueng demands immediate improvement.txt
Boostcourse/news_data/7_Swansea City midfielder Ki Sung-Yueng says confidence will not be dented by Arsenal defeat.txt
Boostcourse/news_data/7_Swansea City midfielder Ki Sung-Yueng wary of Arsenal threat.txt
Boostcourse/news_data/7_Swansea City midfielder Ki Sung-Yueng will miss Crystal Palace clash.txt
Boostcourse/news_data/7_Swansea win the perfect tonic for weary Sunderland.txt
Boostcourse/news_data/8_Has Heung Min Son Done Enough to Justify 22m Transfer.txt
Boostcourse/news_data/8_Heung min Son Believes Injury Tainted Debut at Tottenham.txt
Boostcourse/news_data/8_Heung Min Son doubles Tottenham's lead over Chelsea.txt
Boostcourse/news_data/8_Heung Min Son gives Tottenham a two-goal advantage vs Chelsea.txt
Boostcourse/news_data/8_Heung Min Son prefers Tottenham's busy fixture list to winter break.txt
Boostcourse/news_data/8_South Korea are waiting to hear if Tottenham will clear Son Heung-min for the Olympics, according to the forward..txt
Boostcourse/news_data/8_South Korea coach has a warning for Tottenham Hotspur's Heung-min Son and fellow internationals, suggests they should consider exits.txt
Boostcourse/news_data/8_Top five matchups in 2018 AFC World Cup final round qualification.txt
Boostcourse/news_data/8_Tottenham vs Southampton player ratings Heung-min Son shines but Ryan Mason disappoints.txt
Boostcourse/news_data/8_Who Should Be Tottenham Hotspur's No. 1 Summer Transfer Target.txt
